"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e1e606c9-7d7a-4224-8899-f80c71ab7d86"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use: {}
  core:
    customFileTypes:
      "source.css": [
        "qss"
      ]
    disabledPackages: [
      "Maya"
      "markdown-preview"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontFamily: "Roboto Mono Medium for Powerline"
    fontSize: 15
    preferredLineLength: 80
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "b87a80b3-b72e-4ac2-9294-a674673c997f"
  "ide-python":
    pylsPlugins:
      mccabe: {}
      pycodestyle: {}
      pydocstyle: {}
      rope_completion:
        enabled: true
    ropeFolder: "null"
  "linter-pycodestyle":
    executablePath: "/usr/bin/pycodestyle"
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
    syncConfig:
      syncEditorOnPreviewScroll: true
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
