"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e1e606c9-7d7a-4224-8899-f80c71ab7d86"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use: {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.css": [
        "qss"
      ]
    disabledPackages: [
      "markdown-scroll-sync"
      "atom-ide-ui"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "Inconsolata-g for Powerline"
    tabLength: 4
  "exception-reporting":
    userId: "b87a80b3-b72e-4ac2-9294-a674673c997f"
  "ide-python":
    pylsPlugins:
      mccabe:
        enabled: false
      pydocstyle:
        enabled: true
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
