packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-unsaved-changes"
  "base16-ocean-dark-syntax-theme"
  "file-icons"
  "git-plus"
  "highlight-selected"
  "ide-python"
  "language-vex"
  "markdown-preview-plus"
  "Maya"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "python-indent"
  "split-diff"
]
